.today-question-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; /* Ensure that the page content is relative for the popup */
}

.question-card {
  position: relative;
  max-width: 400px;
}

.question-section {
  position: relative;
  background-color: #f3f3f3;
}

.question-card-img {
  padding: 0 0.5rem;
}

.question-card-img img {
  width: 100%;
}

.question-header,
.question-content,
.main-avatar {
  position: absolute;
}

.question-header,
.question-content {
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.question-header {
  top: 10px;
  left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  margin: 0;
}

.question-content {
  top: 40px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.main-avatar {
  bottom: 0px;
  left: 40px;
}

.main-avatar img {
  width: 143px;
  height: 117px;
}

hr {
  width: 320px;
  height: 4px;
  background-color: black;
  margin-bottom: 0;
}

.answer-section {
  display: flex;
  padding: 10px;
  flex-wrap: nowrap;
  align-content: center;
  margin-bottom: 10px;
  background-color: #fcfdf5;
}

.sub-avatar img {
  width: 42px;
  height: 42px;
  padding: 10px;
}

.write-button img {
  width: 24px;
  height: 24px;
  padding: 10px;
  cursor: pointer;
}

.answer-info {
  padding: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.user-input {
  display: flex;
  align-items: center;
}

.user-input-field {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  width: 200px;
  margin-right: 10px;
}

.upload-button {
  cursor: pointer;
}

.upload-icon {
  width: 24px;
  height: 24px;
}

.dimmed::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

/* Ensuring highlighted elements are above dimmed background */
.highlighted .sub-avatar,
.highlighted .main-avatar,
.highlighted .question-section,
.highlighted .user-input-field,
.highlighted .upload-button {
  position: relative;
  z-index: 2;
}

/* Popup CSS */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffe6ef;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.popup-rabbit-icon {
  width: 119.78px;
  height: 134.34px;
  margin-bottom: 1rem;
}

.popup-content p {
  margin: 0 0 1rem 0;
}

.popup-content button {
  background-color: #f3f3f3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.past-questions-button {
  background-color: pink;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.wake-up-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure it appears above other elements */
}

.wake-up-content {
  background-color: #ffe6ef;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  border: 2px solid #ff69b4;
  position: relative;
}

.alert-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.wake-up-content p {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.wake-up-content .highlight {
  color: #ff69b4;
}

.wake-up-button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.wake-up-button:hover {
  background-color: #ff85b4; /* Adjust the hover effect color as needed */
}

.close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
